In [1]:
import pandas as pd
import os

In [2]:
income = pd.read_csv('raw_data/median_hh_income2015.csv',encoding= 'unicode_escape')
below_poverty = pd.read_csv('raw_data/percentage_below_poverty.csv',encoding= 'unicode_escape')
complete_hs = pd.read_csv('raw_data/percentage_over25_complete_hs.csv',encoding= 'unicode_escape')
race = pd.read_csv("raw_data/percentage_race_by_city.csv",encoding= 'unicode_escape')

In [3]:
income['City_State'] = income['City'] + ' ' + income['Geographic Area']
below_poverty['City_State'] = below_poverty['City'] + ' ' + below_poverty['Geographic Area']
complete_hs['City_State'] = complete_hs['City'] + ' ' + complete_hs['Geographic Area']
race['City_State'] = race['City'] + ' ' + race['Geographic area']

In [4]:
x = income.merge(below_poverty, how = 'inner', on = 'City_State')
x = x.drop(labels = 'City_y', axis = 1)
y = x.merge(complete_hs, how = 'inner', on = 'City_State')
merged_df = y.merge(race, how = 'inner', on = 'City_State')

In [5]:
merged_df = merged_df.drop(labels = ['Geographic Area_y', 'Geographic Area', 'Geographic area'], axis = 1)

In [6]:
merged_df

,Geographic Area_x,City_x,Median Income,City_State,poverty_rate,City_x,percent_completed_hs,City_y,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AZ,Stanfield CDP,4511,Stanfield CDP AZ,68.5,Stanfield CDP,74.6,Stanfield CDP,35.4,3.5,8.6,1.6,66.1
1,CA,Delft Colony CDP,6917,Delft Colony CDP CA,100,Delft Colony CDP,80.6,Delft Colony CDP,46.9,2.9,0,0,94.3
2,ND,Conway city,7083,Conway city ND,44.4,Conway city,66.7,Conway city,100,0,0,0,0
3,AZ,Lower Santan Village CDP,7175,Lower Santan Village CDP AZ,76.4,Lower Santan Village CDP,58.7,Lower Santan Village CDP,1.6,0.3,96.8,0,15.8
4,VA,Union Level CDP,8015,Union Level CDP VA,52.5,Union Level CDP,63.4,Union Level CDP,74.5,20.7,0,0,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27238,NY,Plandome village,250000,Plandome village NY,3.8,Plandome village,99.4,Plandome village,94.7,0.8,0.1,3.6,2.2
27239,NY,Upper Brookville village,250000,Upper Brookville village NY,1.5,Upper Brookville village,96.6,Upper Brookville village,86.8,0.9,0.1,9.5,4.7
27240,OH,Hunting Valley village,250000,Hunting Valley village OH,5.6,Hunting Valley village,98.7,Hunting Valley village,97,0.6,0,1.1,2.7
27241,TX,Hunters Creek Village city,250000,Hunters Creek Village city TX,1.1,Hunters Creek Village city,98.6,Hunters Creek Village city,90.6,1.1,0.2,6,4.5
27242,TX,Piney Point Village city,250000,Piney Point Village city TX,3.9,Piney Point Village city,99.2,Piney Point Village city,85.1,1.7,0.1,11,4.5

In [7]:
for i in range(len(merged_df)):
    if i%1000 == 0:
        print(i)
    city = merged_df.iloc[i,1]
    city_split = city.split()
    merged_df.iloc[i,3] = str(' '.join(city_split[:-1]) + ' ' + str(merged_df.iloc[i,0]))

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000

In [8]:
merged_df = merged_df.drop(labels = ['City_y', 'City_x'], axis = 1)
merged_df

,Geographic Area_x,Median Income,City_State,poverty_rate,percent_completed_hs,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AZ,4511,Stanfield AZ,68.5,74.6,35.4,3.5,8.6,1.6,66.1
1,CA,6917,Delft Colony CA,100,80.6,46.9,2.9,0,0,94.3
2,ND,7083,Conway ND,44.4,66.7,100,0,0,0,0
3,AZ,7175,Lower Santan Village AZ,76.4,58.7,1.6,0.3,96.8,0,15.8
4,VA,8015,Union Level VA,52.5,63.4,74.5,20.7,0,0,5.3
...,...,...,...,...,...,...,...,...,...,...
27238,NY,250000,Plandome NY,3.8,99.4,94.7,0.8,0.1,3.6,2.2
27239,NY,250000,Upper Brookville NY,1.5,96.6,86.8,0.9,0.1,9.5,4.7
27240,OH,250000,Hunting Valley OH,5.6,98.7,97,0.6,0,1.1,2.7
27241,TX,250000,Hunters Creek Village TX,1.1,98.6,90.6,1.1,0.2,6,4.5
27242,TX,250000,Piney Point Village TX,3.9,99.2,85.1,1.7,0.1,11,4.5

In [9]:
killings = pd.read_csv('raw_data/police_killings.csv', encoding = 'unicode_escape')

In [10]:
killings['City_State'] = killings['city'] + ' ' + killings['state']

In [11]:
test = merged_df.merge(killings, how = 'right', on = 'City_State')
test

,Geographic Area_x,Median Income,City_State,poverty_rate,percent_completed_hs,share_white,share_black,share_native_american,share_asian,share_hispanic,...,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,KY,12083.0,Booneville KY,43.9,80.6,100,0,0,0,0,...,knife,42.0,M,W,Booneville,KY,False,other,Not fleeing,False
1,IN,17438.0,English IN,39.6,67.1,97.5,0.3,0.6,0.2,0.8,...,vehicle,45.0,M,W,English,IN,False,other,Car,False
2,ME,17614.0,Waldoboro ME,42.3,98.4,96.5,0.1,0.4,0.6,1.9,...,gun,57.0,M,W,Waldoboro,ME,False,attack,Not fleeing,False
3,MI,18085.0,Benton Harbor MI,50.3,70.5,7,89.2,0.3,0.1,2.2,...,gun,28.0,M,B,Benton Harbor,MI,False,attack,Not fleeing,True
4,LA,19297.0,Mamou LA,41.1,60.6,54.7,43,0.2,0.2,1.4,...,undetermined,27.0,M,NaN,Mamou,LA,False,undetermined,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2536,NaN,NaN,Deer Park AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,undetermined,NaN,M,NaN,Deer Park,AL,False,undetermined,Not fleeing,False
2537,NaN,NaN,Lawndale IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,gun,37.0,M,B,Lawndale,IL,False,other,Not fleeing,True
2538,NaN,NaN,Bonaire GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,gun,45.0,M,NaN,Bonaire,GA,False,undetermined,Not fleeing,False
2539,NaN,NaN,Mt Airy MD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,vehicle,26.0,M,NaN,Mt Airy,MD,False,attack,Not fleeing,False
2540,NaN,NaN,Glenville NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,knife,32.0,M,NaN,Glenville,NY,True,other,Not fleeing,False

In [12]:
income[income['City'] == 'Indianapolis']

Empty DataFrame
Columns: [Geographic Area, City, Median Income, City_State]
Index: []

In [13]:
merged_df

,Geographic Area_x,Median Income,City_State,poverty_rate,percent_completed_hs,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AZ,4511,Stanfield AZ,68.5,74.6,35.4,3.5,8.6,1.6,66.1
1,CA,6917,Delft Colony CA,100,80.6,46.9,2.9,0,0,94.3
2,ND,7083,Conway ND,44.4,66.7,100,0,0,0,0
3,AZ,7175,Lower Santan Village AZ,76.4,58.7,1.6,0.3,96.8,0,15.8
4,VA,8015,Union Level VA,52.5,63.4,74.5,20.7,0,0,5.3
...,...,...,...,...,...,...,...,...,...,...
27238,NY,250000,Plandome NY,3.8,99.4,94.7,0.8,0.1,3.6,2.2
27239,NY,250000,Upper Brookville NY,1.5,96.6,86.8,0.9,0.1,9.5,4.7
27240,OH,250000,Hunting Valley OH,5.6,98.7,97,0.6,0,1.1,2.7
27241,TX,250000,Hunters Creek Village TX,1.1,98.6,90.6,1.1,0.2,6,4.5
27242,TX,250000,Piney Point Village TX,3.9,99.2,85.1,1.7,0.1,11,4.5

In [14]:
test = test.dropna()
test['event'] = 1
test

<ipython-input-14-b5ea0330446f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['event'] = 1

,Geographic Area_x,Median Income,City_State,poverty_rate,percent_completed_hs,share_white,share_black,share_native_american,share_asian,share_hispanic,...,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,event
0,KY,12083.0,Booneville KY,43.9,80.6,100,0,0,0,0,...,42.0,M,W,Booneville,KY,False,other,Not fleeing,False,1
1,IN,17438.0,English IN,39.6,67.1,97.5,0.3,0.6,0.2,0.8,...,45.0,M,W,English,IN,False,other,Car,False,1
2,ME,17614.0,Waldoboro ME,42.3,98.4,96.5,0.1,0.4,0.6,1.9,...,57.0,M,W,Waldoboro,ME,False,attack,Not fleeing,False,1
3,MI,18085.0,Benton Harbor MI,50.3,70.5,7,89.2,0.3,0.1,2.2,...,28.0,M,B,Benton Harbor,MI,False,attack,Not fleeing,True,1
5,KY,19403.0,Burkesville KY,33.1,70.5,87.8,8.3,0.1,0.5,1.1,...,62.0,M,W,Burkesville,KY,False,attack,Other,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2211,CA,124759.0,Pleasanton CA,4.4,95.2,67,1.7,0.3,23.2,10.3,...,19.0,M,W,Pleasanton,CA,False,attack,Foot,False,1
2212,CA,124759.0,Pleasanton CA,4.4,95.2,67,1.7,0.3,23.2,10.3,...,58.0,M,W,Pleasanton,CA,True,attack,Not fleeing,True,1
2213,CA,136519.0,Palo Alto CA,5.4,97.4,64.2,1.9,0.2,27.1,6.2,...,31.0,M,W,Palo Alto,CA,True,attack,Not fleeing,False,1
2214,IL,137423.0,Deerfield IL,2.9,98.4,94,0.5,0.1,3.6,2.8,...,32.0,M,B,Deerfield,IL,False,attack,Other,False,1
2216,TX,175990.0,Fulshear TX,3.2,94.7,73.8,15.8,2.1,2,17.4,...,42.0,F,W,Fulshear,TX,True,attack,Not fleeing,False,1

In [15]:
x = test.groupby('City_State')

In [16]:
places = []
levels = []
for place, df in list(x):
    if len(df) > 6:
        places.append(place)
        levels.append(2)
    elif len(df) > 2:
        places.append(place)
        levels.append(1)
    else:
        places.append(place)
        levels.append(0)
pl = {"City_State":places, "Level":levels}
y = pd.DataFrame(pl)

In [17]:
test2 = merged_df.merge(y, how = 'right', on = 'City_State')
test2

,Geographic Area_x,Median Income,City_State,poverty_rate,percent_completed_hs,share_white,share_black,share_native_american,share_asian,share_hispanic,Level
0,KY,12083,Booneville KY,43.9,80.6,100,0,0,0,0,0
1,IN,17438,English IN,39.6,67.1,97.5,0.3,0.6,0.2,0.8,0
2,ME,17614,Waldoboro ME,42.3,98.4,96.5,0.1,0.4,0.6,1.9,0
3,MI,18085,Benton Harbor MI,50.3,70.5,7,89.2,0.3,0.1,2.2,0
4,KY,19403,Burkesville KY,33.1,70.5,87.8,8.3,0.1,0.5,1.1,0
...,...,...,...,...,...,...,...,...,...,...,...
1141,OH,124529,Hudson OH,3.8,98.2,92.7,1.3,0.1,4.3,1.7,0
1142,CA,124759,Pleasanton CA,4.4,95.2,67,1.7,0.3,23.2,10.3,0
1143,CA,136519,Palo Alto CA,5.4,97.4,64.2,1.9,0.2,27.1,6.2,0
1144,IL,137423,Deerfield IL,2.9,98.4,94,0.5,0.1,3.6,2.8,0
1145,TX,175990,Fulshear TX,3.2,94.7,73.8,15.8,2.1,2,17.4,0

In [18]:

test2['Level'].value_counts()

0    1017
1      90
2      39
Name: Level, dtype: int64

In [19]:
test2 = test2.drop(['Geographic Area_x','City_State'], axis = 1 )
response_name = 'Level'

In [20]:
X = test2.copy()
y = test2[response_name]

In [21]:
pd.to_numeric(X['Median Income'])

0        12083
1        17438
2        17614
3        18085
4        19403
         ...
1141    124529
1142    124759
1143    136519
1144    137423
1145    175990
Name: Median Income, Length: 1146, dtype: int64

In [35]:
X.to_csv("ShootingFrequency.csv")

In [36]:
import numpy as np
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

import qiskit
Xfeature_dim = np.shape(X)[1]

# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

training_input = X_train.copy()
test_input = X_test.copy()

total_array = np.concatenate([test_input[k] for k in test_input])
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler


class_labels = y.unique()
training_size = 25
test_size = 14


sample_train, sample_test, label_train, label_test = \
    train_test_split(X, y, test_size=0.2, random_state=7)

# Now we standardize for gaussian around 0 with unit variance
std_scale = StandardScaler().fit(sample_train)
sample_train = std_scale.transform(sample_train)
sample_test = std_scale.transform(sample_test)

# Now reduce number of features to number of qubits
pca = PCA(n_components=7).fit(sample_train)
sample_train = pca.transform(sample_train)
sample_test = pca.transform(sample_test)

# Scale to the range (-1,+1)
samples = np.append(sample_train, sample_test, axis=0)
minmax_scale = MinMaxScaler((-1, 1)).fit(samples)
sample_train = minmax_scale.transform(sample_train)
sample_test = minmax_scale.transform(sample_test)

# Pick training size number of samples from each distro
# training_input = {key: (sample_train[label_train == k, :])[:training_size]
#                   for k, key in enumerate(class_labels)}
# test_input = {key: (sample_test[label_test == k, :])[:test_size]
#               for k, key in enumerate(class_labels)}

training_input = {key: (sample_train[label_train == key, :])[:training_size]
                  for k, key in enumerate(class_labels)}
test_input = {key: (sample_test[label_test == key, :])[:test_size]
              for k, key in enumerate(class_labels)}
temp = [test_input[k] for k in test_input]
total_array = np.concatenate(temp)

In [26]:
from qiskit import BasicAer
from qiskit.aqua import QuantumInstance, aqua_globals
from qiskit.aqua.algorithms import VQC
from qiskit.aqua.components.optimizers import COBYLA
from qiskit.aqua.components.feature_maps import RawFeatureVector
from qiskit.ml.datasets import wine
from qiskit.circuit.library import TwoLocal
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler

In [38]:
seed = 1376
aqua_globals.random_seed = seed

# Use Wine data set for training and test data
feature_dim = 7  # dimension of each data point
#_, training_input, test_input, _ = wine(training_size=12,
                                       # test_size=4,
                                        #n=feature_dim)

feature_map = RawFeatureVector(feature_dimension=feature_dim)
vqc = VQC(COBYLA(maxiter=20),
          feature_map,
          TwoLocal(feature_map.num_qubits, ['ry', 'rz'], 'cz', reps=3),
          training_input,
          test_input)
result = vqc.run(QuantumInstance(BasicAer.get_backend('statevector_simulator'),
                                 shots=1024, seed_simulator=seed, seed_transpiler=seed))

print('Testing accuracy: {:0.2f}'.format(result['testing_accuracy']))

Testing accuracy: 0.44

In [32]:
import numpy as np

from qiskit import BasicAer
from qiskit.circuit.library import ZZFeatureMap
from qiskit.aqua import QuantumInstance, aqua_globals
from qiskit.aqua.algorithms import QSVM
from qiskit.aqua.utils import split_dataset_to_data_and_labels, map_label_to_class_name
import numpy as np

from qiskit import BasicAer
from qiskit.circuit.library import ZZFeatureMap
from qiskit.aqua import QuantumInstance, aqua_globals
from qiskit.aqua.algorithms import QSVM
from qiskit.aqua.components.multiclass_extensions import AllPairs
from qiskit.aqua.utils.dataset_helper import get_feature_dimension

In [37]:
aqua_globals.random_seed = 10598

backend = BasicAer.get_backend('qasm_simulator')
feature_map = ZZFeatureMap(feature_dimension=get_feature_dimension(training_input),
                           reps=2, entanglement='linear')
svm = QSVM(feature_map, training_input, test_input, total_array,
           multiclass_extension=AllPairs())
quantum_instance = QuantumInstance(backend, shots=1024,
                                   seed_simulator=aqua_globals.random_seed,
                                   seed_transpiler=aqua_globals.random_seed)

result = svm.run(quantum_instance)
for k,v in result.items():
    print(f'{k} : {v}')

testing_accuracy : 0.84375
test_success_ratio : 0.84375
predicted_labels : [1 0 1 0 0 0 0 0 0 0 1 0 0 0 1 1 1 1 1 1 0 0 1 1 1 1 1 1 2 2 2 2]
predicted_classes : [1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2]